@import 'src/app/components/shared/styles/variables.scss';

.march-dashboard-component-container {
    width: 100vw;
    height: 100vh;
    color: rgb(226, 226, 226);
    background-color: $nasa-blue;

    background-repeat: no-repeat;
    background-size: cover;

    scroll-snap-align: start;

    .search-form-container {
        width: 100%;
        display: flex;
        justify-content: center;

        &:hover {
            .search-bar-form-field {
                bottom: 0;
                transition: 0.5s;
            }
        }

        .search-bar-form-field {
            width: 40%;
            cursor: text;
            background: rgba(235, 235, 235, 0.575);

            bottom: 100px;
        }
    }

    .scroll-message {
        margin-bottom: 0;
        cursor: default;
        color: rgb(197, 197, 197);

        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-name: bounce;
        animation-timing-function: linear;
    }
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}