<div class="march-settings-component-container">
    <div *ngIf="APODStatus === 'Loaded'" class="status-loaded">
        <mat-grid-list cols="3" rowHeight="33.33%" class="outer-grid">
            
            <mat-grid-tile class="inner-container container-top" [colspan]="3">
                <mat-grid-list cols="7" class="inner-grid">
                    <mat-grid-tile *ngFor="let Dayta of APODList">
                        <div class="image-container"
                            (click)="selectedDay(Dayta)">
                                <label class="date-label">{{Dayta.date}}</label>
                                <img class="thumbnail"
                                    src="{{Dayta.url}}"
                                    alt="{{Dayta.title}}"
                                    *ngIf="Dayta.isImage">
                                <label *ngIf="!Dayta.isImage">
                                    No image for this day.<br>
                                    Video is not yet supported.
                                </label>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-grid-tile>

            <mat-grid-tile class="inner-container container-left" [colspan]="2" [rowspan]="2">
                <img src="{{selectedDateData.url}}" *ngIf="selectedDateData.isImage">
                <label *ngIf="!selectedDateData.isImage">No image for this day. Video is not yet supported.</label>
            </mat-grid-tile>

            <mat-grid-tile class="inner-container container-right" [rowspan]="2">
                <div class="info-container">
                    <h2>Information:</h2>
                    <div>
                        <p><label class="info-label">Date:</label> {{selectedDateData.date}}</p>
                        <p><label class="info-label">Title:</label> {{selectedDateData.title}}</p>
                        <p class="description"><label class="info-label">Description:</label> {{selectedDateData.explanation}}</p>
                        <p><label class="info-label">Author:</label> {{selectedDateData.copyright}}</p>
                    </div>
                    <div class="button-container">
                        <button mat-raised-button (click)="saveSelected()" color="primary">Save as Background</button>
                        <button mat-raised-button (click)="clearSelected()">Clear Saved Background</button>
                    </div>
                </div>
            </mat-grid-tile>

        </mat-grid-list>
    </div>
    <div *ngIf="APODStatus === 'Pending'" class="status-pending">
        <h2>Data is loading...</h2>
    </div>
    <div *ngIf="APODStatus === 'Not Loaded'" class="status-not-loaded">
        <h2>Data not loaded.</h2>
    </div>
    <div *ngIf="APODStatus === 'Error'" class="status-not-loaded">
        <h2>Error loading data.</h2>
    </div>
</div>